.intakes {
  height: 100%;
  padding: 0 0 var(--header-height);
  display: flex;
  flex-direction: column;

  .top {
    height: fit-content;
    background: var(--sub-bg);
    padding: 1rem;

    .goals {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin: 0 0 0.5rem;

      .item {
        display: flex;
        flex-direction: column;
      }
    }

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0.5rem;

      .day {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--extra-bg);
        gap: 0.5rem;
        padding: 0.5rem 0;
        border-radius: 4rem;
      }

      .active {
        outline: solid 2px var(--main-text);
      }
    }
  }

  .bot {
    height: 100%;
    display: flex;
    overflow-x: hidden;

    .page {
      min-width: 100%;
      height: 100%;
      padding: 1rem;

      h2 {
        font-size: 18px;
      }

      .march-holder {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          max-width: 15rem;
          margin: 0 0 1rem;
        }
      }
    }
  }
}
