.addrecord {
  width: 100%;
  height: 100%;
  padding: 0 0 calc(var(--header-height) + 3rem);

  .record-nav {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: var(--header-height);
    background: var(--sub-bg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    button {
      border-top: solid 2px var(--header-border);
    }

    .act {
      border-top: solid 2px var(--main-text);
    }
  }

  .pages {
    height: 100%;
    display: flex;

    .page {
      min-width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      transition: 0.4s;

      .input-holder {
        display: flex;
        flex-direction: column;
        background: var(--sub-bg);
        border-radius: 0.5rem;
        padding: 0.8rem;
        gap: 1rem;

        input {
          width: 100%;
          color: var(--main-text);
          background: var(--extra-bg);
          border: none;
          border-radius: 0.5rem;
          outline: none;
          padding: 0.5rem 1rem;
        }

        .bju {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }

        .addasset {
          padding: 0.5rem 1rem;
          background: var(--main-text);
          color: var(--main-bg);
          border-radius: 0.6rem;
        }
      }

      .food-item {
        width: 100%;
        background: var(--sub-bg);
        margin-top: 0.5rem;
        padding: 0.5rem;
        display: flex;
        gap: 1rem;

        .left {
          height: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 50%;
          background: var(--extra-bg);
        }

        .right {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .name {
            display: flex;
            gap: 2rem;

            button {
              margin-left: auto;
              height: 1.5rem;
              aspect-ratio: 1 / 1;
              background: var(--extra-bg);
              border-radius: 0.4rem;

              img {
                width: 100%;
                height: 100%;
                filter: invert(var(--svg-invert));
              }
            }
          }

          .info {
            display: flex;
            gap: 1rem;

            p {
              color: var(--sub-text);
            }
          }
        }
      }
    }
  }
}
