header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: var(--bg-2);
  border-top: solid 2px var(--bg-2);
  position: fixed;
  bottom: 0;
  left: 0;
}

.header-link {
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 4px;
  border: solid 2px var(--bg-3);
  background: var(--bg-2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;

  img {
    width: 18px;
    aspect-ratio: 1 / 1;
    filter: invert(var(--svg-invert));
  }

  span {
    font-size: 12px;
  }
}

.router-link-active {
  opacity: 1;
  background: var(--bg-3);
}
