.gender {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  .btn {
    aspect-ratio: 1 / 1;
    background: var(--bg-2);
    border-radius: 8px;
  }

  .active {
    outline: solid 2px var(--text-1);
  }
}
