.tdee {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  .active {
    outline: solid 2px var(--text-1);
  }

  .btn {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background: var(--bg-2);
    display: flex;
    gap: 8px;
    align-items: center;

    img {
      width: 32px;
      filter: invert(var(--svg-invert));
    }

    span {
      height: fit-content;
      font-size: 18px;
      display: flex;
      align-items: center;
    }

    p {
      color: var(--text-4);
      margin-left: auto;
    }
  }
}
