.bodydata {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  .goBack {
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--sub-bg);
    border-radius: 0.5rem;

    img {
      filter: invert(var(--svg-invert));
    }
  }

  .goNext {
    padding: 0.5rem 0;
    font-size: 18px;
    color: var(--main-bg);
    font-weight: 500;
    background: var(--main-text);
    border-radius: 8px;
    outline: none;
  }

  .bodydata-main {
    width: 100%;
    height: 340px;
    display: flex;
    overflow-x: hidden;
    gap: 1rem;

    .page {
      min-width: 100%;
      min-height: 100%;
      background: var(--sub-bg);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: 0.4s;

      input[type="number"] {
        background: var(--extra-bg);
        outline: none;
        border: none;
        color: var(--main-text);
        border-radius: 8px;
        padding: 0.6rem 1rem;
        font-size: 18px;
      }

      h3 {
        display: flex;
        flex-direction: column;

        span {
          font-size: 14px;
          color: var(--sub-text);
        }

        p {
          font-size: 24px;
        }
      }

      .active-holder {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.8rem;

        button {
          width: 100%;
          aspect-ratio: 1 / 1;
          background: var(--extra-bg);
          border-radius: 8px;
        }

        .act {
          outline: solid 4px var(--main-accent);
        }
      }

      .gender-holder {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.8rem;
        padding-bottom: 4rem;

        button {
          width: 100%;
          aspect-ratio: 1 / 1;
          background: var(--extra-bg);
          border-radius: 8px;
        }

        .act {
          outline: solid 3px var(--main-accent);
        }
      }
    }
  }
}
