.presets {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;

  .item {
    width: 100%;
    height: 75px;
    background: var(--bg-2);
    display: flex;
    gap: 16px;
    padding: 8px;
    border-radius: 8px;

    .left {
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: var(--bg-3);
    }
    .right {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
          font-size: 18px;
          font-weight: 700;
        }

        p {
          color: var(--text-4);
        }
      }
      .bot {
        display: flex;
        gap: 8px;

        * {
          padding: 2px 8px;
          border-radius: 0 6px 6px 6px;
          color: var(--text-4);
          font-size: 14px;
          font-weight: 700;
        }
        .kcal {
          outline: solid 2px var(--kcal);
        }
        .p {
          outline: solid 2px var(--p);
        }
        .c {
          outline: solid 2px var(--c);
        }
        .f {
          outline: solid 2px var(--f);
        }
      }
    }
  }
}
