.create-preset {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 4px;

  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 32px;

    .trio {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }

    .duo {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }

    .input-group {
      display: flex;
      flex-direction: column;

      label {
        color: var(--text-3);
        font-weight: 700;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        background: var(--bg-2);
        outline: none;
        border: solid 1px var(--bg-4);
        border-radius: 0 8px 0 0;
        padding: 4px 12px;
      }
    }
    .create-button {
      background: var(--text-1);
      color: var(--bg-1);
      padding: 8px 0;
      margin: auto 0 12px;
      border-radius: 6px;
    }
  }
}
