.week-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: var(--bg-2);
    padding: 8px 4px;
    border-radius: 120px;
    text-align: center;
    font-size: 18px;

    span {
      color: var(--text-4);
    }
  }
  .active {
    outline: solid 2px var(--text-1);
  }
}
