/* ========== RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* ========== VARIABLES ========== */
:root {
  /* backgrounds */
  --main-bg: #131414;
  --sub-bg: #1e1e1e;
  --extra-bg: #333333;

  /* text */
  --main-text: #fffffe;
  --sub-text: #69686a;
  --extra-text: #5c5c5c;

  /* header */
  --header-height: 5rem;
  --header-border: #323232;

  /* extras */
  --sub-accent: #e5eefe;
  --main-accent: #6439fe;
  --transparent: #00000000;
  --svg-invert: 1;

  /* macros */
  --kcal: #4174af;
  --p: rgb(210, 65, 54);   /* чуть ярче красный */
  --c: rgb(46, 160, 67);   /* сбалансированный зелёный */
  --f: rgb(242, 201, 76);  /* светлее золотистый */
}

/* ========== GLOBAL ========== */
html {
  color: var(--main-text);
  background: var(--main-bg);
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 720px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none;    /* Firefox */
}

#app::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
