@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --font-manrope: "Manrope", sans-serif;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --transparent: #00000000;
  --bg-1: #f2f2f2;
  --bg-2: #e4e4e4;
  --bg-3: #dadada;
  --bg-4: #d0d0d0;
  --text-1: #000;
  --text-2: #222;
  --text-3: #444;
  --text-4: #666;
  --accent-1: #d8d8d8;
  --accent-2: #3068bd;
  --p: rgb(192, 59, 50);
  --c: rgb(57, 87, 187);
  --f: rgb(216, 77, 193);
  --header-height: 80px;
  --tick-1: #888;
}

body {
  max-width: 720px;
  width: 100vw;
  height: 100vh;
  background: var(--bg-1);
  display: flex;
  justify-content: center;
  color: var(--text-1);
  font-family: var(--font-manrope);
}

#app {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* Скрываем скроллбар во всех браузерах */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Manrope ExtraLight (100) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-100.ttf") format("woff2");
  font-weight: var(--font-weight-100);
  font-style: normal;
  font-display: swap;
}
/* Manrope Light (200) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-200.ttf") format("woff2");
  font-weight: var(--font-weight-200);
  font-style: normal;
  font-display: swap;
}
/* Manrope Regular (300) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-300.ttf") format("woff2");
  font-weight: var(--font-weight-300);
  font-style: normal;
  font-display: swap;
}
/* Manrope Medium (400) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-400.ttf") format("woff2");
  font-weight: var(--font-weight-400);
  font-style: normal;
  font-display: swap;
}
/* Manrope SemiBold (500) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-500.ttf") format("woff2");
  font-weight: var(--font-weight-500);
  font-style: normal;
  font-display: swap;
}
/* Manrope Bold (600) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-600.ttf") format("woff2");
  font-weight: var(--font-weight-600);
  font-style: normal;
  font-display: swap;
}
/* Manrope ExtraBold (700) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-700.ttf") format("woff2");
  font-weight: var(--font-weight-700);
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 8px;
  background: var(--bg-2);
  border-top: solid 1px var(--bg-2);
  position: fixed;
  bottom: 0;
  left: 0;
}

.header-link {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 4px;
  border: solid 1px var(--bg-4);
  background: var(--bg-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.header-link img {
  width: 18px;
  aspect-ratio: 1/1;
}
.header-link span {
  font-size: 12px;
}

.router-link-active {
  opacity: 1;
  background: var(--bg-4);
}

.settings {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .wrapper {
  width: 70%;
  background: var(--bg-2);
  padding: 8px;
  border: solid 1px var(--bg-3);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.settings .wrapper .top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.settings .wrapper .top .item {
  width: 100%;
  aspect-ratio: 5/3;
  background: var(--bg-3);
  border-radius: 6px;
}
.settings .wrapper .mid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.settings .wrapper .mid .group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px;
  border-bottom: solid 2px var(--bg-4);
}
.settings .wrapper .mid .item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.settings .wrapper .mid .item img {
  width: 28px;
  aspect-ratio: 1/1;
}
.settings .wrapper .mid .item p {
  font-size: 18px;
  margin-top: 2px;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.home .duo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.card {
  padding: 8px;
  background: var(--bg-2);
  border-radius: 8px;
}
.card span {
  font-size: 18px;
}
.card p {
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-4);
}
.card .more {
  display: flex;
  align-items: end;
  gap: 4px;
  border-top: solid 2px var(--bg-3);
}
.card .more span {
  font-size: 18px;
}
.card .more p {
  font-size: 14px;
  margin-bottom: 2px;
}
.card .more img {
  width: 24px;
  margin-left: auto;
}

.form-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-wrapper .form-pages {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.form-wrapper .form-pages .form-page {
  width: calc(100vw - 16px);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  transition: 0.4s;
}
.form-wrapper .form-pages .form-page .form-span {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.form-wrapper .form-pages .form-page .form-span h2 {
  text-align: center;
  font-size: 20px;
}
.form-wrapper .form-pages .form-page .form-span p {
  font-size: 14px;
  text-align: center;
}
.form-wrapper .form-pages .form-page .form-span-a {
  margin: 0;
}
.form-wrapper .back {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  background: var(--bg-2);
  border-radius: 8px;
}
.form-wrapper .back img {
  transform: rotate(180deg);
  width: 32px;
  aspect-ratio: 1/1;
}
.form-wrapper .next {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
  background: var(--accent-2);
  color: var(--bg-1);
}

.input-horizontal {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 24px;
  border-radius: 10px;
  touch-action: pan-x;
  position: relative;
}
.input-horizontal .shade {
  width: 48px;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
}
.input-horizontal .shade-1 {
  left: 24px;
  background: linear-gradient(90deg, var(--bg-1), var(--transparent));
}
.input-horizontal .shade-2 {
  right: 24px;
  background: linear-gradient(90deg, var(--transparent), var(--bg-1));
}
.input-horizontal .value {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.input-horizontal .scale {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80px;
  background: var(--bg-1);
  cursor: grab;
}
.input-horizontal .scale .ticks {
  display: flex;
  align-items: flex-end;
  transition: transform 0.15s ease-out;
  height: 100%;
}
.input-horizontal .scale .ticks .tick {
  position: relative;
  width: 2px;
  min-width: 2px;
  height: 12px;
  background: var(--tick-1);
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
  flex-shrink: 0;
}
.input-horizontal .scale .ticks .tick span {
  font-size: 16px;
  color: var(--text-4);
  font-weight: 700;
  margin-bottom: 32px;
}
.input-horizontal .scale .ticks .tick:last-child {
  margin-right: 0;
}
.input-horizontal .scale .ticks .tick.big {
  height: 32px;
  font-size: 12px;
  font-weight: 500;
}
.input-horizontal .scale .ticks .tick.medium {
  height: 24px;
}
.input-horizontal .scale .center-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--accent-2);
  transform: translateX(-50%);
  pointer-events: none;
}
.input-horizontal .mobile-hint {
  margin-top: 10px;
  font-size: 12px;
  color: var(--text-4);
  text-align: center;
}

.tdee {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);
}
.tdee .active {
  outline: solid 2px var(--text-1);
}
.tdee .btn {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--bg-2);
  display: flex;
  gap: 8px;
  align-items: center;
}
.tdee .btn img {
  width: 32px;
}
.tdee .btn span {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.tdee .btn p {
  color: var(--text-4);
  margin-left: auto;
}

.gender {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}
.gender .btn {
  aspect-ratio: 1/1;
  background: var(--bg-2);
  border-radius: 8px;
}
.gender .active {
  outline: solid 2px var(--text-1);
}

.final {
  width: 360px;
}
.final p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 16px;
  border-radius: 6px;
  font-weight: 700;
  color: var(--text-4);
  text-align: center;
  background: var(--bg-2);
}
.final .bar-holder {
  width: 100%;
  height: 32px;
  margin: 8px 0 4px;
  display: flex;
  justify-content: center;
}
.final .bar-holder .bar {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 4px;
  color: var(--bg-1);
}
.final .bar-holder .bar .part {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 1s;
}
.final .bar-holder .bar .p {
  min-width: 48px;
  background: var(--p);
}
.final .bar-holder .bar .c {
  background: var(--c);
}
.final .bar-holder .bar .f {
  min-width: 42px;
  background: var(--f);
}/*# sourceMappingURL=main.css.map */