@charset "UTF-8";
/* ========== RESET ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* ========== VARIABLES ========== */
:root {
  /* backgrounds */
  --main-bg: #131414;
  --sub-bg: #1e1e1e;
  --extra-bg: #333333;
  /* text */
  --main-text: #fffffe;
  --sub-text: #69686a;
  --extra-text: #5c5c5c;
  /* header */
  --header-height: 5rem;
  --header-border: #323232;
  /* extras */
  --sub-accent: #e5eefe;
  --main-accent: #6439fe;
  --transparent: #00000000;
  --svg-invert: 1;
  /* macros */
  --kcal: #4174af;
  --p: rgb(210, 65, 54); /* чуть ярче красный */
  --c: rgb(46, 160, 67); /* сбалансированный зелёный */
  --f: rgb(242, 201, 76); /* светлее золотистый */
}

/* ========== GLOBAL ========== */
html {
  color: var(--main-text);
  background: var(--main-bg);
  font-family: "Manrope", sans-serif;
}

body {
  max-width: 720px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

#app::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Manrope ExtraLight (100) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-100.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Manrope Light (200) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-200.ttf") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Manrope Regular (300) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-300.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Manrope Medium (400) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-400.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Manrope SemiBold (500) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-500.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Manrope Bold (600) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-600.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Manrope ExtraBold (700) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-700.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header-wrapper {
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.header-wrapper header {
  width: 100%;
  height: var(--header-height);
  max-width: 1280px;
  border-top: solid 2px var(--header-border);
  background: var(--sub-bg);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.header-wrapper header .header-link {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  opacity: 0.6;
}
.header-wrapper header .header-link img {
  height: calc(100% - 21px - 4px - 12px);
  filter: invert(var(--svg-invert));
}
.header-wrapper header .header-link p {
  font-size: 12px;
  white-space: nowrap;
  color: var(--main-text);
}
.header-wrapper header .router-link-active {
  opacity: 1;
}
.header-wrapper header .plus {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--main-bg);
  opacity: 1;
  filter: invert(var(--svg-invert));
  margin: auto 0;
}
.header-wrapper header .plus img {
  scale: 2;
}

.nameform {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nameform form {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--sub-bg);
  padding: 0.8rem;
}
.nameform form p {
  font-size: 1.2rem;
}
.nameform form input {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: var(--main-text);
  background: var(--extra-bg);
  border: none;
  outline: none;
}
.nameform form input::-moz-placeholder {
  color: var(--sub-text);
}
.nameform form input::placeholder {
  color: var(--sub-text);
}
.nameform form .confirm {
  width: 100%;
  font-size: 1.2rem;
  background: var(--main-text);
  color: var(--main-bg);
  padding: 0.2rem 0;
  border-radius: 6px;
}

.input-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 10px;
  touch-action: pan-x;
  position: relative;
}
.input-horizontal .shade {
  width: 64px;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
}
.input-horizontal .shade-1 {
  left: 0;
  background: linear-gradient(90deg, var(--sub-bg), var(--transparent));
}
.input-horizontal .shade-2 {
  right: 0;
  background: linear-gradient(90deg, var(--transparent), var(--sub-bg));
}
.input-horizontal .value {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.input-horizontal .scale {
  position: relative;
  width: 312px;
  overflow: hidden;
  height: 80px;
  background: var(--bg-1);
  cursor: grab;
}
.input-horizontal .scale .ticks {
  display: flex;
  align-items: flex-end;
  transition: transform 0.15s ease-out;
  height: 100%;
}
.input-horizontal .scale .ticks .tick {
  position: relative;
  width: 2px;
  min-width: 2px;
  height: 12px;
  background: var(--sub-text);
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
  flex-shrink: 0;
}
.input-horizontal .scale .ticks .tick span {
  font-size: 16px;
  color: var(--sub-text);
  font-weight: 700;
  margin-bottom: 32px;
}
.input-horizontal .scale .ticks .tick:last-child {
  margin-right: 0;
}
.input-horizontal .scale .ticks .tick.big {
  height: 32px;
  font-size: 12px;
  font-weight: 500;
}
.input-horizontal .scale .ticks .tick.medium {
  height: 24px;
}
.input-horizontal .scale .center-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background: var(--main-accent);
  transform: translateX(-50%);
  pointer-events: none;
}
.input-horizontal .mobile-hint {
  margin-top: 10px;
  font-size: 12px;
  color: var(--text-4);
  text-align: center;
}

.bodydata {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.bodydata .goBack {
  width: 3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--sub-bg);
  border-radius: 0.5rem;
}
.bodydata .goBack img {
  filter: invert(var(--svg-invert));
}
.bodydata .goNext {
  padding: 0.5rem 0;
  font-size: 18px;
  color: var(--main-bg);
  font-weight: 500;
  background: var(--main-text);
  border-radius: 8px;
  outline: none;
}
.bodydata .bodydata-main {
  width: 100%;
  height: 340px;
  display: flex;
  overflow-x: hidden;
  gap: 1rem;
}
.bodydata .bodydata-main .page {
  min-width: 100%;
  min-height: 100%;
  background: var(--sub-bg);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
}
.bodydata .bodydata-main .page input[type=number] {
  background: var(--extra-bg);
  outline: none;
  border: none;
  color: var(--main-text);
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-size: 18px;
}
.bodydata .bodydata-main .page h3 {
  display: flex;
  flex-direction: column;
}
.bodydata .bodydata-main .page h3 span {
  font-size: 14px;
  color: var(--sub-text);
}
.bodydata .bodydata-main .page h3 p {
  font-size: 24px;
}
.bodydata .bodydata-main .page .active-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}
.bodydata .bodydata-main .page .active-holder button {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--extra-bg);
  border-radius: 8px;
}
.bodydata .bodydata-main .page .active-holder .act {
  outline: solid 4px var(--main-accent);
}
.bodydata .bodydata-main .page .gender-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
  padding-bottom: 4rem;
}
.bodydata .bodydata-main .page .gender-holder button {
  width: 100%;
  aspect-ratio: 1/1;
  background: var(--extra-bg);
  border-radius: 8px;
}
.bodydata .bodydata-main .page .gender-holder .act {
  outline: solid 3px var(--main-accent);
}

.intakes {
  height: 100%;
  padding: 0 0 var(--header-height);
  display: flex;
  flex-direction: column;
}
.intakes .top {
  height: -moz-fit-content;
  height: fit-content;
  background: var(--sub-bg);
  padding: 1rem;
}
.intakes .top .goals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.intakes .top .goals .item {
  display: flex;
  flex-direction: column;
}
.intakes .top .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}
.intakes .top .weekdays .day {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--extra-bg);
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 4rem;
}
.intakes .bot {
  height: 100%;
  display: flex;
  overflow-x: hidden;
}
.intakes .bot .page {
  min-width: 100%;
  height: 100%;
  padding: 1rem;
}
.intakes .bot .page h2 {
  font-size: 18px;
}

.addrecord {
  width: 100%;
  height: 100%;
  padding: 0 0 calc(var(--header-height) + 3rem);
}
.addrecord .record-nav {
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: var(--header-height);
  background: var(--sub-bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.addrecord .record-nav button {
  border-top: solid 2px var(--header-border);
}
.addrecord .record-nav .act {
  border-top: solid 2px var(--main-text);
}
.addrecord .pages {
  height: 100%;
  display: flex;
}
.addrecord .pages .page {
  min-width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.addrecord .pages .page .input-holder {
  display: flex;
  flex-direction: column;
  background: var(--sub-bg);
  border-radius: 0.5rem;
  padding: 0.8rem;
  gap: 1rem;
}
.addrecord .pages .page .input-holder input {
  width: 100%;
  color: var(--main-text);
  background: var(--extra-bg);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem 1rem;
}
.addrecord .pages .page .input-holder .bju {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.addrecord .pages .page .input-holder .addasset {
  padding: 0.5rem 1rem;
  background: var(--main-text);
  color: var(--main-bg);
  border-radius: 0.6rem;
}
.addrecord .pages .page .food-item {
  width: 100%;
  background: var(--sub-bg);
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}
.addrecord .pages .page .food-item .left {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--extra-bg);
}
.addrecord .pages .page .food-item .right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.addrecord .pages .page .food-item .right .name {
  display: flex;
  gap: 2rem;
}
.addrecord .pages .page .food-item .right .name button {
  margin-left: auto;
  height: 1.5rem;
  aspect-ratio: 1/1;
  background: var(--extra-bg);
  border-radius: 0.4rem;
}
.addrecord .pages .page .food-item .right .name button img {
  width: 100%;
  height: 100%;
  filter: invert(var(--svg-invert));
}
.addrecord .pages .page .food-item .right .info {
  display: flex;
  gap: 1rem;
}
.addrecord .pages .page .food-item .right .info p {
  color: var(--sub-text);
}/*# sourceMappingURL=main.css.map */