@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --font-manrope: "Manrope", sans-serif;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --transparent: #00000000;
  --svg-invert: 0;
  --bg-1: #ffffff; /* белый */
  --bg-2: #f5f5f5; /* очень светлый серый */
  --bg-3: #e0e0e0; /* средне-светлый серый */
  --bg-4: #b0b0b0; /* насыщенный серый */
  /* text colors */
  --text-1: #000000; /* чёрный */
  --text-2: #1a1a1a; /* очень тёмно-серый */
  --text-3: #333333; /* тёмно-серый */
  --text-4: #666666; /* средний серый */
  --accent-1: #e5eefe;
  --accent-2: #3964fe;
  --kcal: #7e41af;
  --p: rgb(210, 65, 54); /* чуть ярче и чище красный */
  --c: rgb(46, 160, 67); /* более сбалансированный зелёный */
  --f: rgb(242, 201, 76); /* светлее и теплее золотистый */
  --header-height: 80px;
  --tick-1: #888;
}

body {
  max-width: 720px;
  width: 100vw;
  height: 100vh;
  background: var(--bg-1);
  display: flex;
  justify-content: center;
  color: var(--text-1);
  font-family: var(--font-manrope);
}

#app {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* Скрываем скроллбар во всех браузерах */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Manrope ExtraLight (100) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-100.ttf") format("woff2");
  font-weight: var(--font-weight-100);
  font-style: normal;
  font-display: swap;
}
/* Manrope Light (200) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-200.ttf") format("woff2");
  font-weight: var(--font-weight-200);
  font-style: normal;
  font-display: swap;
}
/* Manrope Regular (300) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-300.ttf") format("woff2");
  font-weight: var(--font-weight-300);
  font-style: normal;
  font-display: swap;
}
/* Manrope Medium (400) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-400.ttf") format("woff2");
  font-weight: var(--font-weight-400);
  font-style: normal;
  font-display: swap;
}
/* Manrope SemiBold (500) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-500.ttf") format("woff2");
  font-weight: var(--font-weight-500);
  font-style: normal;
  font-display: swap;
}
/* Manrope Bold (600) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-600.ttf") format("woff2");
  font-weight: var(--font-weight-600);
  font-style: normal;
  font-display: swap;
}
/* Manrope ExtraBold (700) */
@font-face {
  font-family: var(--font-manrope);
  src: url("../../public/font/Manrope-700.ttf") format("woff2");
  font-weight: var(--font-weight-700);
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  max-width: 720px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background: var(--bg-2);
  border-top: solid 2px var(--bg-2);
  position: fixed;
  bottom: 0;
  left: 0;
}

.header-link {
  height: 100%;
  aspect-ratio: 1/1;
  padding: 4px;
  border: solid 2px var(--bg-3);
  background: var(--bg-2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.header-link img {
  width: 18px;
  aspect-ratio: 1/1;
  filter: invert(var(--svg-invert));
}
.header-link span {
  font-size: 12px;
}

.router-link-active {
  opacity: 1;
  background: var(--bg-3);
}

.home {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.home .duo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-bottom: 8px;
}

.card {
  padding: 8px;
  background: var(--bg-2);
  border-radius: 8px;
  border: solid 2px var(--bg-3);
}
.card span {
  font-size: 18px;
}
.card p {
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-4);
}
.card .more {
  display: flex;
  align-items: end;
  gap: 4px;
  border-top: solid 2px var(--bg-3);
}
.card .more span {
  font-size: 18px;
}
.card .more p {
  font-size: 14px;
  margin-bottom: 2px;
}
.card .more img {
  width: 24px;
  margin-left: auto;
}

.presets {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}
.presets .item {
  width: 100%;
  height: 75px;
  background: var(--bg-2);
  display: flex;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
}
.presets .item .left {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--bg-3);
}
.presets .item .right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.presets .item .right .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.presets .item .right .top span {
  font-size: 18px;
  font-weight: 700;
}
.presets .item .right .top p {
  color: var(--text-4);
}
.presets .item .right .bot {
  display: flex;
  gap: 8px;
}
.presets .item .right .bot * {
  padding: 2px 8px;
  border-radius: 0 6px 6px 6px;
  color: var(--text-4);
  font-size: 14px;
  font-weight: 700;
}
.presets .item .right .bot .kcal {
  outline: solid 2px var(--kcal);
}
.presets .item .right .bot .p {
  outline: solid 2px var(--p);
}
.presets .item .right .bot .c {
  outline: solid 2px var(--c);
}
.presets .item .right .bot .f {
  outline: solid 2px var(--f);
}

.create-preset {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 4px;
}
.create-preset .form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
}
.create-preset .form .trio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.create-preset .form .duo {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.create-preset .form .input-group {
  display: flex;
  flex-direction: column;
}
.create-preset .form .input-group label {
  color: var(--text-3);
  font-weight: 700;
}
.create-preset .form .input-group input {
  width: 100%;
  box-sizing: border-box;
  background: var(--bg-2);
  outline: none;
  border: solid 1px var(--bg-4);
  border-radius: 0 8px 0 0;
  padding: 4px 12px;
}
.create-preset .form .create-button {
  background: var(--text-1);
  color: var(--bg-1);
  padding: 8px 0;
  margin: auto 0 12px;
  border-radius: 6px;
}

.summary-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin: 16px 0;
  overflow: hidden;
}
.summary-row .macro-item {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0 4px 6px;
  border-radius: 0 6px 0 0;
  position: relative;
}
.summary-row .macro-item p {
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.summary-row .macro-item .bar {
  max-width: 100%;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--bg-3);
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  transition: 1s;
}
.summary-row .macro-item .kcal {
  border-bottom: solid 4px var(--kcal);
}
.summary-row .macro-item .p {
  border-bottom: solid 4px var(--p);
}
.summary-row .macro-item .c {
  border-bottom: solid 4px var(--c);
}
.summary-row .macro-item .f {
  border-bottom: solid 4px var(--f);
}

.week-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
.week-holder .item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--bg-2);
  padding: 8px 4px;
  border-radius: 120px;
  text-align: center;
  font-size: 18px;
}
.week-holder .item span {
  color: var(--text-4);
}
.week-holder .active {
  outline: solid 2px var(--text-1);
}

.today {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}
.today .item {
  width: 100%;
  height: 75px;
  background: var(--bg-2);
  display: flex;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
}
.today .item .left {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--bg-3);
}
.today .item .right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.today .item .right .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.today .item .right .top span {
  font-size: 18px;
  font-weight: 700;
}
.today .item .right .top p {
  color: var(--text-4);
}
.today .item .right .bot {
  display: flex;
  gap: 8px;
}
.today .item .right .bot * {
  padding: 2px 8px;
  border-radius: 0 6px 6px 6px;
  color: var(--text-4);
  font-size: 14px;
  font-weight: 700;
}
.today .item .right .bot .kcal {
  outline: solid 2px var(--kcal);
}
.today .item .right .bot .p {
  outline: solid 2px var(--p);
}
.today .item .right .bot .c {
  outline: solid 2px var(--c);
}
.today .item .right .bot .f {
  outline: solid 2px var(--f);
}

.callories-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.callories-wrapper h1 {
  display: flex;
  flex-direction: column;
}
.callories-wrapper h1 span {
  color: var(--text-4);
  font-size: 14px;
}
.callories-wrapper h1 p {
  font-size: 22px;
}
.callories-wrapper .cal-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  overflow: hidden;
}
.callories-wrapper .cal-nav .cal-trio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  border-radius: 16px;
  background: var(--bg-2);
  padding: 8px;
}
.callories-wrapper .cal-nav .cal-trio button {
  border: solid 2px var(--bg-3);
  padding: 4px 0;
  border-radius: 8px;
  color: var(--text-4);
  cursor: pointer;
}
.callories-wrapper .cal-nav .cal-trio .active {
  border: solid 2px var(--text-1);
  background: var(--text-1);
  color: var(--bg-1);
}
.callories-wrapper .cal-nav .screen {
  width: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 8px;
  padding-bottom: var(--header-height);
}
.callories-wrapper .cal-nav .screen .comp {
  min-width: calc(100% - 8px);
  transition: transform 0.3s ease;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.training {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings .wrapper {
  width: 70%;
  background: var(--bg-2);
  padding: 8px;
  border: solid 1px var(--bg-3);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.settings .wrapper .top {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.settings .wrapper .top .item {
  width: 100%;
  aspect-ratio: 5/3;
  background: var(--bg-3);
  border-radius: 6px;
}
.settings .wrapper .mid {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.settings .wrapper .mid .group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px;
  border-bottom: solid 2px var(--bg-4);
}
.settings .wrapper .mid .item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.settings .wrapper .mid .item img {
  width: 28px;
  aspect-ratio: 1/1;
}
.settings .wrapper .mid .item p {
  font-size: 18px;
  margin-top: 2px;
}

.final {
  width: 360px;
}
.final p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 16px;
  border-radius: 6px;
  font-weight: 700;
  color: var(--text-4);
  text-align: center;
  background: var(--bg-2);
}
.final .bar-holder {
  width: 100%;
  height: 32px;
  margin: 8px 0 4px;
  display: flex;
  justify-content: center;
}
.final .bar-holder .bar {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 4px;
  color: var(--bg-1);
}
.final .bar-holder .bar .part {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 1s;
}
.final .bar-holder .bar .p {
  min-width: 48px;
  background: var(--p);
}
.final .bar-holder .bar .c {
  background: var(--c);
}
.final .bar-holder .bar .f {
  min-width: 42px;
  background: var(--f);
}

.input-horizontal {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 24px;
  border-radius: 10px;
  touch-action: pan-x;
  position: relative;
}
.input-horizontal .shade {
  width: 48px;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 0;
}
.input-horizontal .shade-1 {
  left: 24px;
  background: linear-gradient(90deg, var(--bg-1), var(--transparent));
}
.input-horizontal .shade-2 {
  right: 24px;
  background: linear-gradient(90deg, var(--transparent), var(--bg-1));
}
.input-horizontal .value {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.input-horizontal .scale {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80px;
  background: var(--bg-1);
  cursor: grab;
}
.input-horizontal .scale .ticks {
  display: flex;
  align-items: flex-end;
  transition: transform 0.15s ease-out;
  height: 100%;
}
.input-horizontal .scale .ticks .tick {
  position: relative;
  width: 2px;
  min-width: 2px;
  height: 12px;
  background: var(--tick-1);
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 10px;
  flex-shrink: 0;
}
.input-horizontal .scale .ticks .tick span {
  font-size: 16px;
  color: var(--text-4);
  font-weight: 700;
  margin-bottom: 32px;
}
.input-horizontal .scale .ticks .tick:last-child {
  margin-right: 0;
}
.input-horizontal .scale .ticks .tick.big {
  height: 32px;
  font-size: 12px;
  font-weight: 500;
}
.input-horizontal .scale .ticks .tick.medium {
  height: 24px;
}
.input-horizontal .scale .center-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: var(--accent-2);
  transform: translateX(-50%);
  pointer-events: none;
}
.input-horizontal .mobile-hint {
  margin-top: 10px;
  font-size: 12px;
  color: var(--text-4);
  text-align: center;
}

.gender {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}
.gender .btn {
  aspect-ratio: 1/1;
  background: var(--bg-2);
  border-radius: 8px;
}
.gender .active {
  outline: solid 2px var(--text-1);
}

.tdee {
  width: 360px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr);
}
.tdee .active {
  outline: solid 2px var(--text-1);
}
.tdee .btn {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--bg-2);
  display: flex;
  gap: 8px;
  align-items: center;
}
.tdee .btn img {
  width: 32px;
  filter: invert(var(--svg-invert));
}
.tdee .btn span {
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.tdee .btn p {
  color: var(--text-4);
  margin-left: auto;
}

.form-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-wrapper .form-pages {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
.form-wrapper .form-pages .form-page {
  width: calc(100vw - 16px);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  transition: 0.4s;
}
.form-wrapper .form-pages .form-page .form-span {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
.form-wrapper .form-pages .form-page .form-span h2 {
  text-align: center;
  font-size: 20px;
}
.form-wrapper .form-pages .form-page .form-span p {
  font-size: 14px;
  text-align: center;
}
.form-wrapper .form-pages .form-page .form-span-a {
  margin: 0;
}
.form-wrapper .back {
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  background: var(--bg-2);
  border-radius: 8px;
}
.form-wrapper .back img {
  transform: rotate(180deg);
  width: 32px;
  aspect-ratio: 1/1;
  filter: invert(var(--svg-invert));
}
.form-wrapper .next {
  width: 100%;
  padding: 8px 0;
  border-radius: 8px;
  background: var(--accent-2);
  color: var(--bg-1);
}/*# sourceMappingURL=main.css.map */